body {

  margin: 0;
  padding: 0;

}

.header {
  background: $primary;
  color: $white;
  padding: 2rem;
}

.about,
.team,
.testimonials {
  padding: 40px;
  h2{
    font-size: 1.8rem;
  }
}

.about {
  img {
    max-width: 100%;
    border-radius: 8px;
  }
}

.team {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &-member {
    background: $team-bg;
    padding: 15px;
    width: 250px;
    text-align: center;
    border-radius: 8px;

    img {
      max-width: 100%;
      border-radius: 30%;
    }
  }
}

.testimonial {
  background: $testimonials-bg;
  padding: 20px;
  margin: 10px auto;
  width: 50%;
  border-radius: 8px;
}

// 📱 Mobile
@media screen and (max-width: 576px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 80%;
  }
}

// 📲 Tablette
@media screen and (max-width: 768px) {
  .team-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial {
    width: 70%;
  }


}

// 🌤️ Tablette +
@media screen and (min-width: 769px) {
  .about {
    margin-top: 5rem;
    .a1{
        margin-left: 20rem;
        margin-right: 20rem;
        text-align: justify;
    }
  }
 
}

// 🖥️ Desktop
@media screen and (min-width: 1024px) {
  .team,
  .testimonials {
    max-width: 1200px;
    margin: auto;
  }
    .about,
.team,
.testimonials {
  padding: 40px;

}
}

