// Import custom variables and mixins
//$body-bg: #3f3f3f; // Set a custom body background color
// $body-color: #ececec; // Set a custom body text color
//$white: #fff; // Set a custom white color
$primary: #111; // Set a custom background color for the navigation bar
$secondary: #fff;
$black:#1a1a1a;
$white:#fff;
$form-pagination-bg:#2e2e2e;
$card-bg: #0c2330;
$btn-pagination-bg:#e50914;
$price-color:#00f6ff;
$team-bg:#f4f4f4;
$testimonials-bg:#ddd;
$footer-bg: #0d0d0d;
$footer-color: #f0f0f0;
$link-hover:#e9e774ed;
$overlay-color: rgba(0, 0, 0, 0.6);
$body-bg:#f9f9f9;
$dropdown-bg:#222;
$dropdown-box:rgba(0, 0, 0, 0.3);



