// Import custom variables and mixins
//$body-bg: #3f3f3f; // Set a custom body background color
// $body-color: #ececec; // Set a custom body text color
//$white: #fff; // Set a custom white color
$primary: #111; // Set a custom background color for the navigation bar
$secondary: #fff;
$black:#1a1a1a;
$white:#fff;
$form-pagination-bg:#2e2e2e;
$card-bg: #0c2330;
$btn-pagination-bg:#e50914;
$price-color:#00f6ff;
$team-bg:#f4f4f4;
$testimonials-bg:#ddd;
// Typo
$typo-main: Roboto, serif;
// Responsive
// Breakpoints
$medium-size:   768px;
$large-size:    962px;
// Rules
$medium:  'screen and (min-width: #{$medium-size})';
$large:   'screen and (min-width: #{$large-size})';



